@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-auto max-w-[1000px] px-10 pt-20;
  }
  input {
    @apply outline-none;
  }

  .textBreak {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
